body {
  margin: 2.5%;
  padding: 0;
  font-family: sans-serif;
}

/* CSS for react multi-timeline starts here */

div.react-multi-timeline {
    border: 1px solid #555555;
    background-color: #eeeeee;
    min-height: 1em;
    text-align: left;
}


div.multi-timeline-title {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: x-large;
}

div.timeline {
     margin: 1em;
}

div.multi-timeline-title-container {
    margin: 1em;
}

div.timeline-title {
    font-size: large;
}

div.timeline-outer-container-fixed-width {
    border: 1px solid #ffaaaa;
    margin: 2em;
    overflow-x: scroll;
    width: 95%;
    height: 90%;
}

div.timeline-inner-container-scrolling {
    border: 1px solid #aaaaff;
    margin: 2em;
    margin-right: 0;
    min-width: 3000px;
     
}

span.event {
    border: 1px solid black;
}

span.event-like {
    font-size: small;
   overflow: hidden;
   text-overflow: ellipsis;
   display:inline-block;
   min-height: 5em;
   text-align: left;
   padding: 1em;
   line-height: 1.5em;
   max-height: 5em;
   border-radius: 0.5em;
}

span.eventDescription {
    color: #444444;
}

span.timeBetweenEvents {
   background-color: #cccccc;
}
